fhirspec.dtd

<!ELEMENT fhir (resources, elements, codesets)>
<!ATTLIST fhir
  name        CDATA     #REQUIRED
  version     CDATA     #REQUIRED
>

<!ELEMENT resources (resource+)>
<!ELEMENT resource (description, properties, elements, codesets, searches, operations?, profiles?)>
<!ATTLIST resource
  id          ID        #REQUIRED
  name        CDATA     #REQUIRED
  active      (true|false|model) "false"
>

<!ELEMENT description     (#PCDATA)>

<!ELEMENT elements (element*)>
<!ELEMENT element (description, properties, elements, codesets)>
<!ATTLIST element
  id          ID        #REQUIRED
  name        CDATA     #REQUIRED
  explicit    CDATA     #IMPLIED
  backbone    (true|false) "false"
>

<!ELEMENT properties (property+)>
<!ELEMENT property (description, (variants|targets?))>
<!ATTLIST property
  id            ID        #REQUIRED
  name          CDATA     #REQUIRED
  type          (element|code|variant|date|dateTime|string|integer|integer64|oid|canonical|uri|uuid|url|instant|boolean|base64Binary|unsignedInt|markdown|xhtml|id|versionid|time|positiveInt|decimal) "string"
  ref           IDREF     #IMPLIED
  iscollection  (true|false) "false"
  notnull       (true|false) "false"
  summary       (true|false) "false"
  modifier      (true|false) "false"
>

<!ELEMENT variants (variant+)>
<!ELEMENT variant (targets?)>
<!ATTLIST variant
  type          (element|code|date|dateTime|string|integer|integer64|oid|canonical|uri|uuid|url|instant|boolean|base64Binary|unsignedInt|markdown|xhtml|id|versionid|time|positiveInt|decimal) #REQUIRED
  ref           IDREF     #IMPLIED
>

<!ELEMENT targets (target*)>
<!ELEMENT target EMPTY>
<!ATTLIST target
  resource      CDATA     #REQUIRED
>

<!ELEMENT codesets     (codeset*)>
<!ELEMENT codeset      (description, codes)>
<!ATTLIST codeset
  name        CDATA     #REQUIRED
  id          ID        #REQUIRED
>

<!ELEMENT codes    (code+)>
<!ELEMENT code     (description)>
<!ATTLIST code
    name        CDATA     #REQUIRED
    value       CDATA     #REQUIRED
>

<!ELEMENT searches (search*)>
<!ELEMENT search (paths)>
<!ATTLIST search
  name          CDATA     #REQUIRED
  query         CDATA     #REQUIRED
  type          (token|reference|quantity|string|uri|date|number|composite|special) "string"
  customsort    (true|false) "false"
>

<!ELEMENT paths (path+)>
<!ELEMENT path (parts, casts?, targets?, components?)>

<!ELEMENT parts (part*)>
<!ELEMENT part EMPTY>
<!ATTLIST part
  ref           IDREF     #REQUIRED
  resolve       CDATA     #IMPLIED
  property      CDATA     #IMPLIED
  type          CDATA     #IMPLIED
  first         (true|false) "false"
  notnull       (true|false) "false"
  variant       CDATA     #IMPLIED
  op            CDATA     #IMPLIED
  value         CDATA     #IMPLIED
>

<!ELEMENT casts (cast*)>
<!ELEMENT cast EMPTY>
<!ATTLIST cast
  to            CDATA     #REQUIRED
>

<!ELEMENT components (component+)>
<!ELEMENT component (casts?)>
<!ATTLIST component
  ref           IDREF     #REQUIRED
>

<!ELEMENT operations (operation*)>
<!ELEMENT operation  (description, input?, output?)>
<!ATTLIST operation
  name          CDATA     #REQUIRED
  implemented   (true|false) "false"
>

<!ELEMENT input      (parameter*)>
<!ELEMENT output     (parameter*)>

<!ELEMENT parameter (description?)>
<!ATTLIST parameter
  name          CDATA     #REQUIRED
  type          (resource|code|variant|date|dateTime|string|integer|integer64|oid|canonical|uri|uuid|url|instant|boolean|base64Binary|unsignedInt|markdown|xhtml|id|versionid|time|positiveInt|decimal) "string"
  ref           IDREF     #IMPLIED
  iscollection  (true|false) "false"
  notnull       (true|false) "false"
  implemented   (true|false) "false"
>

<!ELEMENT profiles (profile+)>
<!ELEMENT profile  EMPTY>
<!ATTLIST profile
  name          CDATA     #REQUIRED
  method        CDATA     #REQUIRED
>
